.services{
    background-color: #83f0f0;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}


.services h3{
    font-size: 36px;
    text-transform: uppercase;
    color: #d994ee;
}

.services h2{
    font-size: 48px #fff;
    margin-bottom: 48px;
    margin-top: 0;
}

.services > .row{
    display: flex;
    justify-content: space-around;

}

.services > .row span{
    background-color: #7ca52f;
    width: 112px;
    height: 112px;
    display: inline-block;
    border-radius: 50px;
    color: #2e31f1;
    font-size: 36px;
    line-height: 120px;
    contain: none;

}

.services > .row h4{
    margin-bottom: 8px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 24px;
    color: #2e31f1;
}

.services > .row p{
    font-size: 16px;
    color: #7ca52f;
}